.conteneur{
    --size-conteneur: calc(100vh - calc(var(--size-h2) + var(--size-header)));
    --prct-size-conteneur: calc(0.01 * var(--size-conteneur));
    
    width: 100vw;
    height: var(--size-conteneur);
    display: inline-flex;
}
.sous-div{
    height: calc(80 * var(--prct-size-conteneur));
    margin: calc(10 * var(--prct-size-conteneur)) 0;
    padding: 0 5%;
}

.gauche{
    width: 40vw;
    border-right: 2px solid var(--fonce);
    padding: 5% 5%;
    display: flex;
    align-items: center;
}
.gauche ul{
    list-style-type: none;
    width: 100%;
    margin-left: 20%;
}
.gauche ul li{
    display: block;
    margin: 2vh 0;
    font-size: calc(30 * var(--res));
}
.gauche ul li a{
    color: black;
    text-decoration: none;
}
.gauche ul li a:hover{
    text-decoration: underline;
}
.gauche ul li img{
    width: calc(60 * var(--res));
    position: relative;
    bottom: -1.8vh;
    margin-right: 2%;
}

.droite {
    width: 60vw;
    display: grid;
    place-items: center;
}
.droite .card {
    background-color: var(--clair);
    box-shadow:  -20px 20px 60px #85bebd,
             20px -20px 60px #b5ffff;
    border-radius: 2vmin;

    padding: 20px;
    width: 50%;
    display: flex;
    flex-direction: column;
  }
  
  .droite .title {
    font-size: calc(25 * var(--res));
    font-weight: 600;
    text-align: center;
  }
  .droite .title::after{
    content: "";
    display: inline-block;
    width: 0.4em;
    height: 1.1em;
    background-color: black;
    animation: blink 0.7s infinite;
    position:relative;
    bottom: -0.15em;
}
@keyframes blink {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}
  
  .droite .form {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .droite .group {
    position: relative;
  }
  
  .droite .form .group label {
    font-size: 14px;
    color: rgb(99, 102, 102);
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: var(--clair);
    transition: all .3s ease;
  }
  
  .droite .form .group input,
  .droite .form .group textarea {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    margin-bottom: 20px;
    outline: 0;
    width: 100%;
    background-color: transparent;
  }
  
  
  .form .group input:focus,
  .form .group textarea:focus {
    border-color: var(--fonce);
  }
  
  .form .group input:focus+ label, .form .group textarea:focus +label {
    top: -10px;
    left: 10px;
    background-color: var(--clair);
    color: var(--fonce);
    font-weight: 600;
    font-size: 14px;
  }
  
  .form .group textarea {
    resize: none;
    height: 100px;
  }
  
  .form button {
    background-color: var(--fonce);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .form button:hover {
    background: var(--fonce);
    box-shadow: inset -20px 20px 60px #088e89,
                inset 20px -20px 60px #0ac0b9;
  }
  