main > header.slide{
    height: calc(100vh - var(--size-header));
    color: var(--fonce);
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}
main > header h2{
    font-size: calc(60 * var(--res));
    border-bottom: solid 2px var(--fonce);
}
main > header h3{
    margin-top: 1.5%;
    font-size: calc(25 * var(--res));
}

main > section#profil{
    display: grid;
    place-items: center;
}

#console{
    --affichCurseur1: inline-block;
    --affichCurseur2: inline-block; 
    --affichCurseur3: inline-block; 
    --affichCurseur4: inline-block;

    position: relative;
    height:80vh;
    width: 30vw;
    padding: 5%;

    background-color: var(--clair);
    box-shadow:  -20px 20px 60px #85bebd,
             20px -20px 60px #b5ffff;
    border-radius: 5%;

    font-family: "Inconsolata";
    font-size: calc(17 * var(--res));
    line-height: 2em;
}
#console > *{
    display: none;
}

#console .commande::before{
    content: "leo@portfolio> ";
}


#console .commande::after{
    content: "";
    width: 0.4em;
    height: 1.1em;
    background-color: black;
    animation: blink 0.7s infinite;
    position:relative;
    bottom: -0.15em;
}
@keyframes blink {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
}

#console #commande_1::after{
    display: var(--affichCurseur1);
}
#console #commande_2::after{
    display: var(--affichCurseur2);
}
#console #commande_3::after{
    display: var(--affichCurseur3);
}
#console #commande_4::after{
    display: var(--affichCurseur4);
}

#console ul{
    list-style-type: "-> ";
    margin-left: var(--tab);
}

a.button {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%,-15%);

    padding: 10px 20px;
    border: none;
    font-size: 17px;
    color: #fff;
    border-radius: 7px;
    letter-spacing: 4px;
    font-weight: bolder;
    text-transform: uppercase;
    transition: 0.5s;
    transition-property: box-shadow;
    text-decoration: none;

    background: var(--fonce);
    box-shadow: 0 0 25px var(--fonce);
  }
  
  a.button:hover {
    box-shadow: 0 0 5px var(--fonce),
                0 0 25px var(--fonce),
                0 0 50px var(--fonce),
                0 0 100px var(--fonce);
  }