header{
    height: 25vh;
    position: sticky;
    top: -17vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 5vh 0 2vh;

    background-color: white;
    border-bottom: 1px black solid;
}
header > a{
    position: initial;
}

main{
    height: 75vh;
    font-family: 'Nixie One', cursive;
    display: flex;
}
main .conteneur{
    width: 50%;
    padding: 5% 8%;
}

main .conteneur .tuille{
    background-color: rgba(97, 96, 96, 0.90);
    padding: 5% 8%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.tuille h2{
    font-family: 'Nixie One', cursive;
    font-size: 2.5rem;
    text-align: center;
}
.tuille hr{
    background-color: black;
    height: 1px;
    border: 0;
    margin: 3% 0;
    width: 40%;
}
.tuille p{
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    margin-bottom: 3%;
}
.tuille a{
    text-align: center;
    font-size: 1.7rem;
    font-family: "Jura", sans-serif;
    background-color: rgb(43, 43, 43);
    color: white;
    padding: 3%;
    margin: 3px;
    margin-top: calc(4% + 3px);
    position: relative;
    
}
.tuille a:hover{
    text-decoration: none;
    border: 3px solid white;
    margin: 0;
    margin-top: 4%;
}
.tuille a img{
    height: 1.5rem;
    position: relative;
    top: 0.15rem;
}
main .conteneur#sous-titrage{
    background-image: url(../img/index/sous-titrage.jpg);
    background-size: cover;
}
main .conteneur#dev-web{
    background-image: url(../img/index/dev-web.jpg);
    background-size: cover;

}