/*ROOT*/
:root{
    --header-margin-top-logo: 4rem;
    /*--header-height-logo se trouve dans theme.css*/
    --header-margin-bottom-logo: 1rem;
    --header-margin-nav:0.8rem;
    --header-height-nav: 45.2px;

    --header-height: calc(var(--header-margin-top-logo) + var(--header-height-logo) + var(--header-margin-bottom-logo) + var(--header-margin-nav) * 2 + var(--header-height-nav) + 4px);
    --main-height: calc(100vh - var(--header-height));

    --header-sticky-top: calc(0px - var(--header-margin-top-logo) - var(--header-height-logo) - var(--header-margin-bottom-logo) - 3px)
}





/*HEADER*/
body > header{
    position: sticky;
    top: var(--header-sticky-top);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    padding: 0;

    background-color: white;
    border-bottom: 1px black solid;
}
body > header #header-small{
    display: none;
}
body > header nav{
    margin: 0.8rem;
}
body > header > a{
    position: initial;
    margin: var(--header-margin-top-logo) 0 var(--header-margin-bottom-logo);
}
@media all and (max-width: 750px){
    body > header{
        position: static;
        top : 0;
    }
    body > header #header-small{
        display: initial;
    }
}







/*MAIN*/
main{
    min-height: var(--main-height);
    font-family: 'Nixie One', cursive;
    display: flex;
}
main .conteneur{
    position: relative;
    width: 50%;
    padding: 5% 8%;
    overflow: hidden; /* Cache tout ce qui dépasse du conteneur */
}
main .conteneur::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-size: cover;
    filter: grayscale(1);
    transform: scale(1);
    transition: transform 0.5s ease ,filter 0.5s ease;
}
main .conteneur:hover::before{
    transform: scale(1.1);
    filter: grayscale(0);
}

main .conteneur#sous-titrage::before{
    background-image: url(../img/index/sous-titrage.jpg);
}
main .conteneur#dev-web::before{
    background-image: url(../img/index/dev-web.jpg);
}

main .conteneur .tuille{
    position: relative;
    background-color: rgba(97, 96, 96, 0.90);
    padding: 5% 8%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.tuille h2{
    font-family: 'Nixie One', cursive;
    font-size: 2.5rem;
    text-align: center;
}
.tuille hr{
    background-color: black;
    height: 1px;
    border: 0;
    margin: 3% 0;
    width: 40%;
}
.tuille p{
    font-family: "Montserrat", sans-serif;
    font-size: 1.5rem;
    margin-bottom: 3%;
}
.tuille a{
    text-align: center;
    font-size: 1.7rem;
    font-family: "Jura", sans-serif;
    background-color: rgb(43, 43, 43);
    color: white;
    padding: 3%;
    margin: 3px;
    margin-top: calc(4% + 3px);
    position: relative;
    
}
.tuille a:hover{
    text-decoration: none;
    border: 3px solid white;
    margin: 0;
    margin-top: 4%;
}
.tuille a:hover img{
    filter: grayscale(0);
}
.tuille a img{
    filter: grayscale(1) brightness(2);
    height: 1.5rem;
    position: relative;
    top: 0.15rem;
}
@media all and (max-width: 1000px){
    main{
        flex-direction: column;
        height: auto;
    }
    main .conteneur{
        width: 100%; 
        padding: 13%;
    }
    main .conteneur .tuille{
        padding: 8% 10% 5% 10%;
    }
}