main{
    display: flex;
    align-items: center;
    justify-content: center;
}

#projets{
    margin: 3rem auto 0;
    padding: 0 1.5rem;
    max-width: var(--max-width);
    font-size: 1.3rem;
}
#projets p{
    line-height: 1.2;
}
#projets article{
    position: relative;
    margin-bottom: 3rem;
    padding-bottom: 3rem;
    border-bottom: 1px solid black;
}
#projets article:last-of-type{
    border-bottom: none;
    margin-bottom: 0;
}
#projets article p{
    margin-bottom: 1.5rem;
    text-align: justify;
}
#projets article header{
    position: relative;
    margin-bottom: 2rem;
}
#projets article h3{
    font-family: "Jura", sans-serif;
    font-size: 3rem;
    min-width: 300px;
    width: 60%;
}
#projets article time{
    position: absolute;
    bottom: 0.4rem;
    right: 1rem;
    font-weight: 100;
    font-style: italic;
    font-family: "Nixie One",monospace;
}
.contenu{
    display: flex;
}

.texte-article{
    width: 80%;
    padding-right: 1.5rem;
    border-right: 1px solid black;
}
.liens-article{
    width: 20%;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 2rem;
    flex-wrap: wrap;
}
.liens-article a{
    display: grid;
    place-items: center;
    color: black;
    text-decoration: none;
}
.liens-article a .texte-lien{
    text-align: center;
}
.liens-article a:hover span.texte-lien{
    text-decoration:underline;
}
.liens-article a img{
    width: 4rem;
}
.liens-article a span.icon{
    color: black;
    font-size: 4rem;
}

.article-petit .texte-article{
    width: 70%;
}
.article-petit .liens-article{
    width: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@media all and (max-width: 750px){
    .contenu{
        flex-direction: column;
    }
    .texte-article, .article-petit .texte-article{
        width: 100%;
        padding-right: 0;
        border-right: none;
    }
    .liens-article, .article-petit .liens-article{
        flex-direction: row;
        width: 100%;
        padding: 3rem inherit 0;
    }
}
@media all and (max-width: 570px){
    #projets article time{
        position: relative;
        bottom: 0;
        right: 0;
    }
}