main{
    font-size: 1.35rem;
}
main > section{
    min-height: 92vh;
    padding: 5% 3% 7%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    
}

.texte{
    width: 50%;
    padding-right: 3%;
}
.texte h3{
    font-size: 3rem;
    font-family: "Jura", sans-serif;
    padding-bottom: 1rem;
}
.texte p{
    margin-top: 1.5rem;
}

.visuel{
    width: 40%;
    padding: 3% 2% 5%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

#mon-histoire .visuel > img{
    border: 1px #ccc solid;
    padding: 5px;
    margin: 5%;
}
#mon-histoire .visuel > img#leo-adulte{
    width: 60%;
    min-width: 300px;
}
#mon-histoire .visuel > img#leo-enfant{
    width: 20%;
    min-width: 100px;
}
