main{
    display: grid;
    place-items: center;
    font-size: 1.8rem;
    text-align: center;
    padding: 2.5rem;
}
.titrage{
    margin-bottom: 5rem;
}
.titrage h2{
    font-size: 7rem;
    font-family: "Nixie One";
    margin-bottom: 0.5rem;
}

.contenu a{
    font-weight: bold;
}

@media all and (max-width: 770px){
    main{
        font-size: 1.4rem;
    }
    .titrage h2{
        font-size: 5rem;
    }
}
@media all and (max-width: 530px){
    .contenu > p{
        margin-bottom: 1.5rem;
        display: flex;
        flex-direction: column;
    }
}