main{
    font-size: 1.35rem;
}
main > section{
    min-height: 92vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap; 
}

.texte{
    font-family: "Nothing You Could Do";
    font-weight: 400;
    font-size: 1.5rem;
    width: 40%;
    padding: 0 3rem;
    margin: 3rem 0 6rem;
}
.texte h3{
    font-size: 3rem;
    font-family: "Jura", sans-serif;
    padding-bottom: 1rem;
}
.texte p{
    margin-top: 1.5rem;
}

.visuel{
    width: 50%;
    padding: 3% 2% 5%;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.visuel > img{
    border: 1px #ccc solid;
    padding: 5px;
    margin: 6rem 2rem;
}
.visuel > img#leo-adulte{
    width: 45%;
    min-width: 300px;
}
.visuel > img#leo-enfant{
    width: 33%;
    min-width: 250px;
}

@media all and (max-width: 1000px){
    main > section{
        flex-direction: column;
    }
    .texte{
        max-width: 550px;
        width: unset;
        margin: 3rem 0;
    }
    .visuel{
        width: 80%;
        flex-direction: row;
        margin-bottom: 3rem;
    }
    .visuel > img{
        margin: 2%;
    }
    .visuel > img#leo-adulte{
        min-width: 200px;
    }
    .visuel > img#leo-enfant{
        min-width: 150px;
    }
}