:root{
    
}
h3{
    text-align: center;
    font-family: "Arial";
    margin: 10px 0px 15px 0px;
    padding: 0px 0px 5px 0px;
    border-bottom: solid 2px;
    border-radius: 5%;
    width: 400px;   
}
.case-fine{
    border: solid 1px grey;
    padding:0px 15px 15px 15px;
    border-radius: 10px;        
}
.texte-arial{
    font-family: "arial";
}
.gras{
    font-weight: 900;
}
.italique{
    font-style: oblique 10deg;
}
textarea{
    width: 300px;
    height: 100px;      
}
[type=radio]{
    margin: 0px 10px;
}