/*GENERAL*/
.header{
    height: var(--header);
    position: sticky;
    top: 0;
    z-index: 900;

    background-color: white;
    border-bottom: 1px black solid;

    display: flex;
    align-items: center;
    justify-content: center;
    
}
.header nav{
    height: var(--nav);
    display: flex;
    justify-content: center;
    align-items: center;
}

.header nav input, .header nav label{
    display: none;
}

.header nav > ul {
    width: 60vw;
    list-style: none;
    font-size: 2.5rem;
    font-family: "Jura", sans-serif;

    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header nav a {
    padding: 0.2rem 1rem;
}

.header > a {
    position: absolute;
    left: 9%;
}

@media all and (max-width: 1024px){
    .header{
        justify-content: space-between;
    }
    .header > *{
        padding: 0 1.5rem;
    }
    .header > a {
        position: initial;
        left: 0;
    }
    .header nav label{
        display: initial;
        cursor: pointer;
        font-size: 2.5rem;
        padding: 1.1px 0;
        position: relative;
        bottom: 0.15rem;
    }
    .nav.opened ul{
        display: block;
        position: absolute;
        top: 100%;
        left: 0;

        width: 100%;

        background-color: white;
        border-bottom: 1px solid black;
    }
    .nav.opened ul li{
        text-align: center;
        margin: 2rem 25%;
    }
}


/*INDEX*/
.header.index{
    --logo-header: 13rem;
    --header: calc(var(--logo-header) + var(--nav));
    top: calc(0px - var(--logo-header));
    flex-direction: column;
    justify-content: space-between;
}
.header.index > a {
    position: initial;
    left: 0;
    height: var(--logo-header);
    display: grid;
    place-items: end;
    padding-bottom: 1rem;
}

@media all and (max-width: 1024px){

    /*RESET*/
    :root{
        --header : var(--nav);
    }
    .header{
        top: 0;
        height: var(--nav);
        flex-direction: row;
    }
    .header nav{
        margin: 0;
    }
    .header > a{
        margin: 0;
    }
}